@model Comision.Service.Model.SpecialEducationModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <span>لیست موارد خاص آموزشی</span>
            <i class="fa fa-angle-left"></i>
        </li>
        <li>
            <span>نمایش</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> لیست موارد خاص آموزشی</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Ajax.BeginForm(MVC.Admin.SpecialEducation.ActionNames.AddOrUpdate, MVC.Admin.SpecialEducation.Name,
                        ajaxOptions: new AjaxOptions { HttpMethod = "Post", OnSuccess = "successSave", OnFailure = "failureSave" },
                        routeValues: null,
                        htmlAttributes: new { id = "specialEducationform", @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(x => x.Id);
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">عنوان</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="ذخیره" class="btn blue" onclick="BeforeUpdate();" />
                            <button type="button" class="btn default" onclick="ClearEdit();">انصراف</button>
                        </div>

                    </div>
                }
                <h3 class="form-section">موارد خاص ثبت شده</h3>

                <table id="dgSpecialEducation"></table>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function BeforeUpdate() {
            $.blockUI({ boxed: !0, message: '<h4 style="font-family:tahoma;"><img src="/content/assets/global/img/loading-spinner-grey.gif" /> شکیبا باشید...</h4>' });
        }
        function failureSave(result) {
            $.unblockUI();
            mynotification(result.Message, 'ruby');
        }

        function successSave(result) {
            $.unblockUI();
            ClearEdit();
            if (result.IsError) {
                mynotification(result.Message, 'ruby');
                return;
            }
            mynotification(result.Message, 'lime');
            $('#dgSpecialEducation').datagrid('reload');
        }

        $('#dgSpecialEducation').datagrid(
        {
            fit: true,
            idField: 'Id',
            loadMsg: 'شکیبا باشید...',
            rownumbers: true,
            height: '480',
            singleSelect: true,
            fitColumns: true,
            pagination: true,
            pagePosition: 'bottom',
            striped: 'true',
            pageSize: 10,
            url: '@Url.Action(MVC.Admin.SpecialEducation.GetSpecialEducation())',
            saveUrl: '@Url.Action("", "")',
            updateUrl: '@Url.Action("", "")',
            destroyUrl: '@Url.Action("", "")',
            onSuccess: function (index, row) {

            },
            onError: function (index, row) {
                $(this).datagrid('cancelEdit', index);
                $(this).datagrid('reload');
            },
            columns: [
                [
                    { field: 'Id', hidden: 'hidden', editor: { type: 'validatebox', width: 300 } },
                    { field: 'Name', title: 'نام لاتین', width: 300 },
                    {
                        field: 'Action', title: 'عملیات', width: 100, align: 'center',
                        formatter: function (value, rows, index) {
                            return '<a href="javascript:void(0)"  onclick="deleteSpecialEducation(' + rows.Id + ')">' +
                                '<img class="delete"  src="/content/jquery-easyui-1.4.2/themes/icons/cancel.png"/></a>' +
                                '<a  href="javascript:void(0)" onclick="editSpecialEducation(' + index + ')">' +
                                '<img src="/content/jquery-easyui-1.4.2/themes/icons/pencil.png" title="ویرایش"/></a>&nbsp&nbsp&nbsp';
                        }
                    }
                ]
            ]
        });
        var pager = $('#dgSpecialEducation').datagrid('getPager');
        $(pager).pagination({
            pageSize: 10,
            showPageList: true,
            pageList: [10, 20, 50],
            beforePageText: 'صفحه',
            afterPageText: 'از {pages}',
            displayMsg: 'نمایش اطلاعات  {from} تا {to} از {total}'
        });

        function ClearEdit() {
            $('#Name').val("");
            $('#Id').val(0);
        }

        function editSpecialEducation(rowIndex) {
            $("#dgSpecialEducation").datagrid("selectRow", rowIndex);
            var data = $("#dgSpecialEducation").datagrid("getSelected");
            $('#Name').val(data.Name);
            $('#Id').val(data.Id);
        }

        function deleteSpecialEducation(id) {
            if (id === null) {
                mynotification("خطا در حذف رکورد مورد نظر!", 'ruby');
                return;
            }
            $.messager.confirm('confirm', 'حذف شود؟', function (r) {
                if (r) {
                    $.blockUI({ boxed: !0, message: '<h4 style="font-family:tahoma;"><img src="/content/assets/global/img/loading-spinner-grey.gif" /> شکیبا باشید...</h4>' });
                    $.post('@Url.Action(MVC.Admin.SpecialEducation.Delete(), "http")', { id: id }, function (result) {
                        $.unblockUI();
                        if (!result.IsError) {
                            $('#dgSpecialEducation').datagrid('reload');
                            mynotification(result.Message, 'lime');
                        }
                        else
                            mynotification(result.Message, 'ruby');
                    }, 'json');
                }
            });
        }
    </script>
}


