@model Comision.Service.Model.PasswordModel

@using (Html.BeginForm(MVC.Admin.Profile.SavePassword(), FormMethod.Post, new { id = "savePassword", @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
{
    @Html.HiddenFor(m => m.PersonId, new { id = "PersonId5" })
    <div class="form-group">
        @Html.LabelFor(x => x.OldPasswordHash, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="input-icon">
                @Html.PasswordFor(m => m.OldPasswordHash, new { @class = "form-control", style = "max-width: none" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NewPasswordHash, new {@class = "col-md-2 control-label"})
        <div class="col-md-4">
            <div class="input-icon">
                @Html.PasswordFor(f => f.NewPasswordHash, new {@class = "form-control", style = "max-width: none"})
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.RepeatPasswordHash, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            <div class="input-icon">
                @Html.PasswordFor(f => f.RepeatPasswordHash, new { @class = "form-control", style = "max-width: none" })
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-md-2"></div>
        <button type="button" class="btn blue" onclick="SavePassword();">ذخیره</button>
        <a href='@ViewBag.CancelUrl' class="btn default">انصراف</a>
    </div>
}

<script>
    function SavePassword() {
        if (Number($('#PersonId5').val()) <= 0) {
            mynotification('اطلاعات مورد نظر قابل ذخیره سازی نمی باشد!', 'ruby');
            return $(this).form('validate');
        }
        if ($('#OldPasswordHash').val().length === 0) {
            mynotification('لطفا کلمه عبور قبلی را وارد نمایید!', 'ruby');
            return $(this).form('validate');
        }
        if ($('#NewPasswordHash').val().length === 0) {
            mynotification('لطفا کلمه عبور جدید را وارد نمایید!', 'ruby');
            return $(this).form('validate');
        }
        if ($('#RepeatPasswordHash').val().length === 0) {
            mynotification('لطفا تکرار کلمه عبور جدید را وارد نمایید!', 'ruby');
            return $(this).form('validate');
        }

        if ($('#savePassword').valid()) {
            $.blockUI({ boxed: true, message: '<h4 style="font-family:tahoma;"><img src="/content/assets/global/img/loading-spinner-grey.gif" /> شکیبا باشید...</h4>' });
            $('#savePassword').ajaxSubmit({
                cashe: false,
                url:'@ViewBag.ActionUrlSavePassword',
                type: 'Post',
                dataType: 'json',
                //data: { special: strSpecialEducation },
                success: function (result) {
                    $.unblockUI();
                    if (result.isError) {
                        mynotification(result.Message, 'ruby');
                    } else {
                        mynotification(result.Message, 'lime');
                        $('#OldPasswordHash').val("");
                        $('#NewPasswordHash').val("");
                        $('#RepeatPasswordHash').val("");
                    }
                },
                error: function (xhr, status) {
                    $.unblockUI();
                    //alert(xhr.responseText());
                }
            });
        } else {
            mynotification('خطا در ورود اطلاعات.', 'ruby');
            return $(this).form('validate');
        }
        //return $(this).form('validate');
    }
</script>
