@model Comision.Ui.Models.RegisterUserViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <img class="login-logo login-6" src="~/Content/Images/App/uni-logo.gif" style="width: 72px; height: 100px;top:20px" />
            <div class="login-content" style="margin-top: 20%">
                <p>سامانه تحت وب کمسیون موارد خاص</p>                
                <h1>ثبت نام کاربر</h1>
                <p>جهت ثبت نام آدرس ایمیل معتبری وارد نمائید. تائیدیه ثبت نام به آدرس ایمیل وارد شده ارسال خواهد شد.</p>
                @using (Html.BeginForm(MVC.Account.RegisterUser(), FormMethod.Post, new {id = "registerForm", @class = "login-form form-horizontal", role = "form", style = "margin-top:5%"}))
                {
                    @Html.ValidationMessage("InvalidUser", new {@class = "text-danger"})

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.IdentificationCode, new {@class = "form-control", placeholder = "شماره شناسایی"})
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = "آدرس ایمیل"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = "رمز عبور"})
                        </div>
                        <div class="col-xs-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "تکرار رمز عبور"})
                        </div>
                    </div>
                    <h4>اطلاعات پروفایل</h4>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "نام"})
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Family, new {@class = "form-control", placeholder = "نام خانوادگی"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.NationalCode, new {@class = "form-control", placeholder = "کد ملی"})
                        </div>
                        <div class="col-xs-6">
                            @Html.TextBoxFor(m => m.Mobile, new {@class = "form-control", placeholder = "تلفن همراه"})
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <button class="btn blue" type="submit">ثبت نام</button>
                        </div>
                    </div>
                }
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-4 bs-reset">

                    </div>
                    <div class="col-xs-8 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; Fekreman 2016</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"> </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $.validator.unobtrusive.parse('#registerForm');
    </script>

}