@model Comision.Ui.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm(MVC.Account.ResetPassword(), FormMethod.Post, new { @class = "resetForm form-horizontal", id="resetForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>کلمه عبور خود را بازیابی کنید.</h4>
    <hr/>
    <div class="form-group">
    <div class="col-md-2">
    </div>
        <div class="col-md-9">
            @Html.ValidationMessage("", new {@class = "text-danger"})
        </div>
     </div>
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-7">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-7">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-2">
            <input type="submit" class="btn btn-default" value="بازیابی"/>
        </div>
        <div class="forgot-password col-md-8">
            <a href="@Url.Action(MVC.Account.Login())">برگشت به صفحه ورود به سامانه</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $.validator.unobtrusive.parse('#resetForm');
    </script>
}
